<% provide(:title, 'About Us') %>
  	<h1>About Us</h1>
		<p>
		  The <a href="https://www.facebook.com/pages/Sticker/294209227336019">Sticker</a>
		  is a social fun-activities site for people to join activities at every corner and make new friends!
		</p>


