<% provide(:title, 'Help') %>
  	<h1>Help</h1>
		<p>
		  Get help on the Sticker at the
		  <a href="https://www.facebook.com/pages/Sticker/294209227336019">Sticker Facebook 粉絲專頁</a>.
		  To get help on this Sticker sample app, see the
		  <a href="https://www.facebook.com/pages/Sticker/294209227336019">Sticker Facebook 粉絲專頁</a>.
		</p>

